/* إزالة الخلفيات الشفافة الافتراضية من الروابط */
a {
    background-color: transparent;
}

/* خلفية الرسائل والقوائم */
div#chat__body__messages_container,
div#chat_box__body,
#chat__body__wall_pane {
    background: #ffffff !important;
}

/* تصغير حجم عناصر التبويبات */
.react-tabs__tab {
    width: 27%;
    font-size: 0.625rem;
    border-bottom: 1px solid #dee2e6;
}

/* إعدادات الفوتر */
#chat__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1.5rem;
    max-width: 100%;
    background-color: #FFF;
    zoom: 1.05;
}

/* تنسيق القوائم السفلية */
.chat__footer__menu__item {
    white-space: nowrap;
    vertical-align: baseline;
    max-width: 100%;
    cursor: pointer;
    padding: 6px 8px;
    margin: 1px;
    border: 1px solid black;
    border-radius: 2px;
    height: 30px;
}

/* إعدادات زر إرسال الرسالة */
.chat__body__message-input__submit {
    vertical-align: middle;
    font-size: 0.6rem;
    border-radius: 3px;
    width: 53px;
    height: 29px;
    border: 1px solid #000000 !important;
}