/* تخصيص مظهر صورة المستخدم */
.public_message__avatar img {
    margin-right: 5px;
    border-radius: 1px;
    border: .0001px solid #ffffff !important;
    background-image: url(pic.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 36px;
    height: 36px;
    margin-left: 1px;
    user-select: none;
    cursor: default;
    vertical-align: middle;
    font-family: serif;
    font-weight: bold;
    text-shadow: none !important;
    font-size: 15px !important;
}