/* Styles for the chat footer */
#chat__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1.5rem;
    max-width: 100%;
    background-color: #FFF;
    zoom: 1.05;
}

.chat__footer__menu__item {
    white-space: nowrap;
    vertical-align: baseline;
    max-width: 100%;
    cursor: pointer;
    padding-top: 6px;
    padding-bottom: 3px;
    padding-left: 2px;
    border: 1px solid black;
    border-radius: 2px;
    margin: 1px;
    padding: 6px 8px;
    height: 30px;
}

.chat__footer__menu__item.unread {
    background-color: orange;
    padding-right: 1px;
}

.chat__footer__menu__rooms_item {
    border-color: #000000 !important;
}
.chat__footer__menu__wall_item {
    border-color: #000000 !important;
}
.chat__footer__menu__tv_item {
    border-color: #000000 !important;
}

/* Adjustments for user menu */
#chat__footer__menu__users_item {
    border-color: #000000 !important;
    width: 50px;
}
#chat__footer__menu__conversations_item {
    border-color: #000000 !important;
}

/* Button styles */
button.fl.btn.btn-primary.fa.fa-comments {
    border-radius: 8px;
    margin-right: 130px;
    color: #FFFFFF;
    background-color: #bd2130;
    border-color: #bd2130;
}

/* Adjustments for button radius */
.radius {
    margin-right: 5px;
    border-radius: 1px;
    border: .0001px solid #ffffff !important;
    background-image: url(pic.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 36px;
    height: 36px;
    margin-left: 1px;
    user-select: none;
    cursor: default;
    vertical-align: middle;
    font-family: serif;
    font-weight: bold;
    text-shadow: none !important;
    font-size: 15px !important;
}