/* Styles for notifications */
li#chat__footer__menu__conversations_item .badge {
    display: none;
}

li#chat__footer__menu__conversations_item.unread {
    width: 50px;
}

#chat__footer__menu__wall_item .count {
    display: inline-block !important;
}

.chat_pane__user_item__avatar .status {
    position: absolute;
    top: 2px;
    width: 3px;
    height: 36px;
    margin-left: 2px;
    border-radius: 0;
}