body {
  font-family: 'Arial', sans-serif;
  background: #f2f2f2;
  margin: 0;
  padding: 0;
  color: #333;
}

.container {
  width: 80%;
  margin: auto;
  padding-top: 30px;
}

#messages {
  background: #fff;
  border: 1px solid #ddd;
  padding: 15px;
  height: 350px;
  overflow-y: scroll;
  margin-bottom: 15px;
  border-radius: 10px;
}

#messageInput {
  width: 75%;
  padding: 12px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#sendBtn {
  padding: 12px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#sendBtn:hover {
  background-color: #45a049;
}

#admin-panel {
  display: none;
  background-color: #d9f7d9;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

#settings {
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  font-size: 14px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.hidden {
  display: none;
}

#profilePopup {
  display: none;
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  z-index: 1000;
}

#profilePopup img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
}

#uploadedImagePreview img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 10px;
}

/* ثيم فاتح وداكن */
body.light-theme {
  background-color: #f8f8f8;
  color: #333;
}

body.dark-theme {
  background-color: #333;
  color: #f8f8f8;
}

button.light-btn {
  background-color: #fff;
  color: #333;
  border: 1px solid #ccc;
}

button.dark-btn {
  background-color: #333;
  color: #fff;
  border: 1px solid #ccc;
}
